
<div class="container pt-4 pb-3">
  <div>
    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.0264875219154!2d75.7963957145204!3d26.90265446700057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db41baaaaaaab%3A0x6aa479d51d04ce8b!2sH.G.+Infra+Engineering+Limited!5e0!3m2!1sen!2sin!4v1542100888549"

      
      width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe> -->
  </div>
  <div class="row bg-primary text-white p-5">
    <div class="col-sm-6">
      <div style="border-right: 1px solid white">
        <h2>Shree Swami Samarth Engineers</h2>

        <h4 class="pt-4 pb-1">Registered Office:</h4>
        <p>14, Panchwati Colony, Ratanada,<br>Jodhpur-342001(Raj.)</p>
        <p><span class="font-weight-bold">Call Number:</span> 0291-2000307</p>
        <p><span class="font-weight-bold">Fax Number:</span> 0291-2515327</p>


        <h4 class="pt-4 pb-1">Corporate Office:</h4>
        <p>III Floor, Sheel Mohar Plaza, A-1, Tilak Marg, <br>C-Scheme, Jaipur- 302001(Raj.)</p>
        <p><span class="font-weight-bold">Call Number:</span> 0141-4106040</p>
        <p><span class="font-weight-bold">Fax Number:</span> 0141-4106044</p>
        <p><span class="font-weight-bold">Email:</span> 0141-4106044</p>

        <div class="social-info">
          <ul class="list-unstyled">
            <li class="icon"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="icon"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="icon"><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="pl-4">
        <form action="" enctype="multipart/form-data" method="post">
          <h2>Send a Query</h2>
          <h5 class="pt-3 pb-2">Fill in the form below to schedule a consultation</h5>
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name: *" required="">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email: *" required="">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" name="phone" placeholder="Phone: *" required="">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="4" name="message" placeholder="Your Message: *"
              required=""></textarea>
          </div>
          <div class="errors-list"></div>         
          <input class="btn btn-success w-100 font-weight-bold" type="submit" value="SUBMIT">
        </form>
      </div>
    </div>
  </div>
</div>