<div class="container pt-3">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="col-sm-4 float-left" *ngFor="let director of directors">
                <div><img [src]="director.ImagePath" class="w-100"></div>
                <div class="mb-5">
                    <div>
                        <h3 [innerHtml]="director.Name"></h3>
                        <h6 [innerHtml]="director.Position"></h6>
                    </div>
                    <div [style.max-height.px]="!director.IsReadMore ?  135 : null " style="overflow: hidden;">
                        <p [innerHtml]="director.description"></p>
                    </div>
                    <button class="btn btn-link" (click)="director.IsReadMore=true">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>