<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="col-sm-4 wow zoomIn" data-wow-offset="200" style="visibility: visible; animation-name: zoomIn;">
        <div class="bod-img"><img src="images/bod1.jpg" class="img-responsive"></div>
          <div class="bod-content">
            <div class="bod-name-desg">
        <h3>Mr. Harendra Singh</h3>
        <h6>Chairman and Managing Director</h6>
              </div>
              <div class="bod-bio-info">
                  <p>Mr. Harendra Singh has been on the Board of HG Infra since its incorporation and was reappointed in the board for a period of five years with effect from May 15, 2017. He holds a bachelor's degree in Engineering (Civil) from Jodhpur University and has garnered 25 years of experience in the construction industry. For his outstanding achievement in business and social service, he has received awards from the Indian Achievers Forum in August and November, 2016.</p> 
                  
              </div>
              <a class="readmore-info readmore-plus" href="javascript:void(0);">Read More</a>
          </div>
      </div>
      <div class="col-sm-4 wow zoomIn" data-wow-offset="200" style="visibility: visible; animation-name: zoomIn;">
        <div class="bod-img"><img src="images/vijendra-singh.jpg" class="img-responsive"></div>
          <div class="bod-content">
            <div class="bod-name-desg">
        <h3>Mr. Vijendra Singh</h3>
        <h6>Whole Time Director</h6>
              </div>
              <div class="bod-bio-info">
                  <p>Responsible for the overall functioning of the Company, Mr. Vijendra Singh has been on the Board of HG Infra since its incorporation. After garnering a basic education, he amassed 27 years of experience in the construction industry. He was reappointed as a member of the Board for a period of five years with effect from May 15, 2017.</p>
              </div>
              <a class="readmore-info readmore-plus" href="javascript:void(0);">Read More</a>
          </div>
      </div>
      <div class="col-sm-4 wow zoomIn" data-wow-offset="200" style="visibility: visible; animation-name: zoomIn;">
      <div class="bod-img"><img src="images/dinesh-kumar-goyal.jpg" class="img-responsive"></div>
          <div class="bod-content">
            <div class="bod-name-desg">
        <h3>Mr. Dinesh Kumar Goyal</h3>
        <h6>Executive Director</h6>
      </div>
              <div class="bod-bio-info">
                  <p>After retiring from the post of Additional Chief Secretary, Horticulture, Government of Rajasthan in 2013, Mr. Dinesh Kumar Goyal became the Executive Director of HG Infra. He has more than 40 years of experience in top level positions of different departments, including Finance, Energy, Public Works, Road &amp; Highway, Land Development, and Labour &amp; Employment, among others. Academically, he holds a Ph.D. from Birla Institute of Technology &amp; Science and M.Sc. from London School of Economics, UK. </p>
              </div>
              <a class="readmore-info readmore-plus" href="javascript:void(0);">Read More</a>
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-4 wow zoomIn" data-wow-offset="200" style="visibility: visible; animation-name: zoomIn;">
      <div class="bod-img"><img src="images/ashok-kumar-thakur.jpg" class="img-responsive"></div>
          <div class="bod-content">
            <div class="bod-name-desg">
        <h3>Mr. Ashok Kumar Thakur</h3>
        <h6>Independent Director</h6>
      </div>
              <div class="bod-bio-info">
                  <p>With a master's degree in commerce from Lucknow University, Mr. Ashok Kumar Thakur has over 37 years of experience in the banking industry. He has been an Independent Director on the Board of HG Infra with effect from May 15, 2017. He is currently working as vice-president-finance with Nirmal Lifestyle Limited. Prior to this, he has held various positions at Union Bank of India, including general manager (Kolkata zone) and deputy general manager (regional head) at Kolkata and Chandigarh. He has also been chairman at the Rewa Siddhi Gramin Bank.</p>
              </div>
              <a class="readmore-info readmore-plus" href="javascript:void(0);">Read More</a>
          </div>
      </div>
      
      <div class="col-sm-4 wow zoomIn" data-wow-offset="200" style="visibility: visible; animation-name: zoomIn;">
      <div class="bod-img"><img src="images/pooja-goyal.jpg" class="img-responsive"></div>
          <div class="bod-content">
            <div class="bod-name-desg">
        <h3>Ms. Pooja Hemant Goyal</h3>
        <h6>Independent Director</h6>
      </div>
              <div class="bod-bio-info">
                  <p>An Independent Director of our Company, Ms. Pooja Hemant Goyal holds a bachelor's degree in commerce and a master's degree in law, both from Jiwaji University, Gwalior, Madhya Pradesh, after which she acquired five years of experience in the legal industry. She has been on the Board of HG Infra with effect from May 15, 2017. Prior to this, she has been associated with N. N. Vechalekar &amp; Co., Advocates.</p>
              </div>
              <a class="readmore-info readmore-plus" href="javascript:void(0);">Read More</a>
          </div>
      </div>
      
      <div class="col-sm-4 wow zoomIn" data-wow-offset="200" style="visibility: visible; animation-name: zoomIn;">
      <div class="bod-img"><img src="images/onkar-singh.jpg" class="img-responsive"></div>
          <div class="bod-content">
            <div class="bod-name-desg">
        <h3>Mr. Onkar Singh</h3>
        <h6>Independent Director</h6>
      </div>
              <div class="bod-bio-info">
                  <p>A retired Indian Administrative Service officer, Mr. Onkar Singh joined our Board on September 8, 2017 and is currently an Independent Director at HG Infra. He holds a bachelor's and master's degree in commerce and a master's degree in philosophy, as well, all from Rajasthan University, Jaipur. He has over 20 years of experience in the economic administration and rural development sector and has previously worked in the tribal area development department, Udaipur, as a junior research officer, in the education department, government secretariat, Jaipur as an evaluation officer and in the rural development department, Jaipur as a project director. He has also been the collector and district magistrate in certain districts in the state of Rajasthan. Further, he was the divisional commissioner at Kota and also held the designation of vice-chancellor at the Agriculture University, Kota, Kota University and Technical University, Kota.</p>
              </div>
              <a class="readmore-info readmore-plus" href="javascript:void(0);">Read More</a>
          </div>
      </div>
      
      </div>
      
  </div>