
<footer class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul class="list-unstyled">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-us.html">Company Overview</a></li>
          <li><a href="new-projects.html">New Projects</a></li>
          <li><a href="news.html">Media</a></li>
          <li><a href="life-at-hg.html">Life @ HG</a></li>
          <li><a href="http://careers.hginfra.com">Careers</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
          <li><a href="investors-relation.html">Investor Relations</a></li>
        </ul>
      </div>
      <div class="col-4">
          <h5>State GST Nos.</h5>
          <p>Rajasthan- 08AABCH2668B1ZU</p>
          <p>Haryana- 06AABCH2668B1ZY</p>
          <p>Maharashtra- 27AABCH2668B2ZT</p>
          <p>Uttarakhand- 05AABCH2668B1Z0</p>
          <p>Uttar Pradesh- 09AABCH2668B1ZS</p>
      </div>
      <div class="col-4">                  
          <div class="call"><a href="tel:0141-4106040"><img src="images/call-icon.png"><span> 0141-4106040</span></a></div>
          <div class="msg"><a href="mailto:info@hginfra.com"><img src="images/msg-icon.png"><span> info@hginfra.com</span></a></div>
        
      </div>
    </div>
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
  <!-- /.container -->
</footer>

<div class="footer">
  <div class="container">

    <div class="clearfix"></div>
    <div class="col-md-12">
      <div class="copyright">Copyright 2018 H.G. Infra Engineering Ltd. All Rights Reserved</div>
    </div>

  </div>
</div>