
<footer class="py-5 bg-dark text-white" style="height:174px ;">
  <div class="container"style="height:100">
    <div class="row">
      <div class="col-4">
        <ul class="list-unstyled">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-us.html">Company Overview</a></li>
          <li><a href="new-projects.html">Projects</a></li>
          <li><a href="contact-us.html">Investors</a></li>
          <li><a href="investors-relation.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-4">
          <h5>GST No.</h5>
          <p>Maharashtra-  </p>
          
      </div>
      <div class="col-4">                  
          <div class="call"><a href="tel:020 25679011"><img src="../../../assets/images/home/call-icon.png"><span> 020 25679011</span></a></div>
          <div class="msg"><a href="mailto:sssengineers@gmail.com"><img src="../../../assets/images/home/msg-icon.png"><span> sssengineers@gmail.com</span></a></div>
        
      </div>
    </div>
    
  </div>
  <!-- /.container -->
</footer>

<div class="footer">
  <div class="container">

    <div class="clearfix"></div>
    <div class="col-md-12">
      <div class="copyright">Copyright 2019 Shree Swami Samarth Engineers All Rights Reserved</div>
    </div>

  </div>
</div>