<div class="container pt-5">
  <owl-carousel [options]="sliderOPT" [items]="projects" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let project of projects;let i = index">
      <button type="button" class="btn project-tab" (click)="selProject=project">{{project.ProjectName}}</button>
    </div>
  </owl-carousel>

  <div id="project-details" *ngIf="selProject">
    <h1 class="pt-3" [innerHtml]="selProject.ProjectName"></h1>
    <div class="mt-3 overflow-hidden">
      <div>
        <img [src]="selProject.BigImagePath">
      </div>
      <ul class="p-0 pt-3">
        <li class="pl-0"><img [src]="selProject.ImagePath1"></li>
        <li><img [src]="selProject.ImagePath2"></li>
        <li><img [src]="selProject.ImagePath3"></li>
        <li class="pr-0"><img [src]="selProject.ImagePath4"></li>
      </ul>
    </div>
    <div class="mt-3 pb-3">
      <h5 *ngFor="let projectDetail of selProject.DetailsOfProject" [innerHtml]="projectDetail"></h5>
    </div>
  </div>
</div>