<div id="project-details">
  <h1 class="pt-5">Sitarganj</h1>
  <div class="mt-3 overflow-hidden">
    <div>
      <img src="https://www.hginfra.com/images/sitargang1.jpg">
    </div>
    <ul class="p-0 pt-3">
      <li class="pl-0"><img src="https://www.hginfra.com/images/sitargang1-thumb.jpg"></li>
      <li><img src="https://www.hginfra.com/images/sitargang2-thumb.jpg"></li>
      <li><img src="https://www.hginfra.com/images/sitargang3-thumb.jpg"></li>
      <li class="pr-0"><img src="https://www.hginfra.com/images/sitargang4-thumb.jpg"></li>
    </ul>
  </div>
  <div class="mt-3">
    <h5>Nature of work: Two-laning and paving of shoulders of the Sitarganj-Tanakpur section of NH-125 from KM 0.000 to
      KM 52.200 in the state of Uttarakhand under NHDP-IV on an EPC basis.</h5>
    <h5>Location: Uttarakhand</h5>
    <h5>Date of commencement: 02.09.2015</h5>
    <h5>Project Size: Rs. 243.11 crore</h5>
    <h5 class="pb-3">Commissioned under: National Highways Authority of India(NHAI)</h5>
  </div>
</div>