.project-tab{
    width: 190px;
    height: 55px;
    background-color: lightgray;
    border: 1px solid gray;
    font-weight: 700;
    font-size: 18px;
}


ul > li {
    list-style: none;
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

ul > li > img{
    width: 100%;
    max-height: 180px;
}

h5{
    padding-top: 6px;
}
