<div class="container pt-4">
  <div class="row">
    <div class="col-sm-7">
      <h2>Our story so far…</h2>
      <p class="mt-4">
        We began our journey in 2003 as H.G. Infra Engineering Limited (HGIEL), an infrastructure company promoted by
        Shri Hodal
        Singh, a stalwart with 40 years of experience in the construction sector. We made our debut with a primary focus
        on:-
      </p>
      <div class="row mt-5">
        <div class="col-4">
          <img src="https://www.hginfra.com/images/highway-icon.png">
          <h4>Highways</h4>
        </div>
        <div class="col-4">
          <img src="https://www.hginfra.com/images/road-icon.png">
          <h4>Roads</h4>
        </div>
        <div class="col-4">
          <img src="https://www.hginfra.com/images/bridge-icon.png">
          <h4>Bridges</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <img src="https://www.hginfra.com/images/story-img.jpg">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12">
      <p>
        Over the years, we also began to execute civil construction projects, like extension and grading of runways,
        railways and land development; in recent times, we have diversified into water pipeline projects as well.
      </p>
      <p>
        Today, with Shri Harendra Singh Choudhary at the wheel, HGIEL has evolved into a leading Indian road
        infrastructure development company, with a presence in six states, namely:-
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/rj-icon.png">
      <h4>Rajasthan</h4>
    </div>
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/har-icon.png">
      <h4>Haryana</h4>
    </div>
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/up-icon.png">
      <h4>Uttar Pradesh</h4>
    </div>
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/mah-icon.png">
      <h4>Maharashtra</h4>
    </div>
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/uk-icon.png">
      <h4>Uttarakhand</h4>
    </div>
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/ap-icon.png">
      <h4>Arunachal Pradesh</h4>
    </div>
  </div>

</div>