<div class="container pt-4">
  <div class="row">
    <div class="col-sm-7">
      <h4>More about our company…</h4>
      <p class="mt-4">
        Our Company, Shri Samarth Engineers Limited was incorporated 2019 by conversion of a partnership firm “M/s. Shri Swami Samarth Engineers 
        (formerly known as M/s Swami Samarth Engineers Pvt Ltd)” into the Company as “M/s. Shri Swami Samarth Engineers Limited” 
        under the provisions of Companies Act, 2013. 
        are Class I-A Government Contractors with Public Works Department, Govt. of Maharashtra. 
        <br/> <br/> 
        We work as Engineers, Contractors and are engaged in Development of Infrastructural projects 
        like construction of Roads, Bridges, etc.  
        Our Company is covering complete Civil Solutions in Irrigation for Government Projects. 
        <br/> <br/> 
        We have been executing various Irrigation Projects viz; Dams, Barrages, Irrigation Tunnels, K.T. Weirs and Canals etc. 
        developed for Govt. of Maharashtra. 
      </p>
     <!-- <div class="row mt-4 text-center">
        <div class="col-sm-4 pb-3">
          <img src="https://www.hginfra.com/images/highway-icon.png">
          <h4>Highways</h4>
        </div>
        <div class="col-sm-4 pb-3">
          <img src="https://www.hginfra.com/images/road-icon.png">
          <h4>Roads</h4>
        </div>
        <div class="col-sm-4 pb-3">
          <img src="https://www.hginfra.com/images/bridge-icon.png">
          <h4>Bridges</h4>
        </div>
      </div>-->
    </div>
    <div class="col-sm-5">
      <img class="story-img" src="https://www.hginfra.com/images/story-img.jpg">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12">
      <p>
        We have over the years developed a reputation for delivering quality projects within the time stipulated in the contract. 
        We were awarded a contract by the State of Maharashtra – PWD to construct a bridge across the Savitri River on the Mumbai Goa national highway 
        that had collapsed in August, 2016. We were required under this contract to build a new bridge within a period of 180 days, 
        which our Company successfully completed in a record time of 165 days .
        We also received a letter of appreciation from the Ministry of Road Transport and Highways (MORTH), Government of India for completing this project in record time
      </p>
      
    </div>
  </div>
 </div>