<div class="container pt-4 pb-4">
  <div class="row mt-5">
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/vision-eye-icon.png">
    </div>
    <div class="col-sm-10">
      <h2 class="mb-4">VISION</h2>
      <p>
        "To be amongst the most admired and most trusted infrastructure companies in the country, delivering
        qualitative,
        reliable and quality “creations &amp; services” to all customers at competitive costs, with highest standards of
        infrastructure creations, setting new benchmarks in standards of corporate performance and governance through
        the pursuit of operational and financial excellence, responsible citizenship and profitable growth, thereby
        creating superior value for all the stakeholders and contribute significantly in growth of this sector."
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/value-blue-icon.png">
    </div>
    <div class="col-sm-10">
      <h1 class="mb-4">VALUES</h1>
      <p>
        Our ethos are “Trust”, “Passion” and “Quality”. These are intact and constantly keep on pushing us to deliver
        best of quality infrastructure for the nation.
      </p>

      <div class="row justify-content-center pt-4">
        <div class="col-sm-4 text-center">
          <img src="https://www.hginfra.com/images/value-icon1.png">
          <h4>PASSION</h4>
        </div>
        <div class="col-sm-4 text-center">
          <img src="https://www.hginfra.com/images/value-icon2.png">
          <h4>TRUST</h4>
        </div>
        <div class="col-sm-4 text-center">
          <img src="https://www.hginfra.com/images/value-icon3.png">
          <h4>QUALITY</h4>
        </div>

      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-2">
     <img src="https://www.hginfra.com/images/mission-blue-icon.png">
    </div>
    <div class="col-sm-10">
      <div class="vision-content">
        <h1 class="mb-4">MISSION</h1>
        <p>
          "To create the world-class assets and infrastructure to provide the platform for faster &amp; consistent growth
          for India to become world’s economic power. 
        </p>
        <p>
          To earn the trust and confidence of all customers and stakeholders, exceeding their expectations and make the
          company a respected household name. 
        </p>
        <p>
          To consistently achieve high growth with the highest levels of productivity holding guiding principles of trust,
          integrity and transparency in all aspects of interactions and dealings. 
        </p>
        <p>
          To be a technology driven, efficient and financially sound organisation.
        </p>
        <p>
          To promote a work culture that fosters individual growth, team spirit and creativity to overcome challenges and
          attain goals, encourage ideas, talent and value systems.”
        </p>
      </div>
    </div>
  </div>

</div>