<div class="container pt-4 pb-4">
  <div class="row mt-5">
    <div class="col-sm-2">
      <img src="https://www.hginfra.com/images/vision-eye-icon.png">
    </div>
    <div class="col-sm-10">
      <h4 class="mb-4">VISION</h4>
      <p>
        "To be amongst the most admired and most trusted infrastructure companies in the country, delivering
        qualitative,
        reliable and quality “creations &amp; services” to all customers at competitive costs, with highest standards of
        infrastructure creations, setting new benchmarks in standards of corporate performance and governance through
        the pursuit of operational and financial excellence, responsible citizenship and profitable growth, thereby
        creating superior value for all the stakeholders and contribute significantly in growth of this sector."
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-2">
     <img src="https://www.hginfra.com/images/mission-blue-icon.png">
    </div>
    <div class="col-sm-10">
      <div class="vision-content">
        <h4 class="mb-4">MISSION</h4>
        <p>
          "To create the world-class assets and infrastructure to provide the platform for faster &amp; consistent growth
          for India to become world’s economic power. 
        </p>
        <p>
          Expansion of Domestic Market by actively participating in new projects
        </p>
        <p>
          Increase our competitiveness through continuous focus on EPC business
        </p>
        <p>
          Strengthen Internal Systems and focus on Information Technology
        </p>
        <p>
          Capitalize On The Growth Opportunities In The Indian Infrastructure Industry
        </p>
      </div>
    </div>
  </div>

</div>